
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arvo:wght@700&family=Bebas+Neue&family=Bowlby+One+SC&family=Monoton&family=Sawarabi+Gothic&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}

body{
	min-height: 1000px;
}

p{
	font-weight: 300;
	color: rgb(5, 4, 4);
}

.banner{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwall.alphacoders.com%2Fby_sub_category.php%3Fid%3D134833%26name%3DLion%2BWallpapers&psig=AOvVaw0Bfp54Un4Ca7Fl18sBH1ei&ust=1609510327789000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNjKiK6z-O0CFQAAAAAdAAAAABAD);
	background-size: cover;
	text-align: center;
}

.conent{
	max-width: 900px;
}

.conent h2{
	font-size: 5em;
	color: rgb(5, 4, 4);

}
.btn{ 
	color: #fff;
	display: inline-block;
	text-decoration: none;
	background: #ff0157;
	padding: 10px 30px;
	margin-top: 20px;
	letter-spacing: 2px;
	transition: 0.2s;
}

.btn:hover{
	letter-spacing: 6px;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 30px;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0,2s;
}

header .stickly{
	background: #fff;
	padding: 10px 100px;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.05) 
}

header .logo{
	color: #fff;
	font-weight: 800;
	font-family: 'Sawarabi Gothic', sans-serif;
	font-size: 2em;
	text-decoration: none; 

}

header .logo b{
	color: #ff0157;
	font-size: 50px;
}

header .logo span{
	color: white;
	font-size: 40px;
	background:#ff0157;
	padding: 5px;
	border-radius: 50%;
}

header .navigation{
	position: relative;
	display: flex;
}

header .navigation li{
	list-style: none;
	margin-left: 30px;
}

header .navigation li a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-weight: 300;  
}

