
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arvo:wght@700&family=Bebas+Neue&family=Bowlby+One+SC&family=Monoton&family=Sawarabi+Gothic&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}

.header{
	display: flex;
	justify-content: space-between;
	background: url('https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	
}

.logo h2{
	font-size: 35px;
}