
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arvo:wght@700&family=Bebas+Neue&family=Bowlby+One+SC&family=Monoton&family=Sawarabi+Gothic&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}

.header{
	display: flex;
	justify-content: space-between;
	height: 8vh;
	background-color: #C0C0C0;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.logo, .list-head{
	align-items: center;
	display: flex;
	justify-content: center;
}

.logo h2{
	font-size: 35px;
	color: #FFFF;
	font-family: 'Sawarabi Gothic';
	
}
ul{
	font-family: 'Sawarabi Gothic';
	list-style: none;
	color: #FFFF;
}

li{
	float: left;
	margin-left: 25px;
}